{% extends 'portfolio_app/base.html' %}
{% load static %}
    {% block content %}
        <div class="container">
                <img src="{% static 'portfolio_app/cup-of-joe.jpg' %}" height=120 width=90 alt="not found joe">
                <h1>Mac Portfolio</h1>
 
            <div class="container text-center">

                {% for project in projects %}
                    <img  src="{{ project.image.url }}" height=140 width=100 class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                    <br>
                        {% if project.url %}
                        <a href="{{ project.image.url }}">Link</a>
                        {% endif %}
                    <h2>{{ project.title }}</h2>
                    <h3>{{ project.description }}</h3>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
